In [3]:
#Defining paths for db, raw, and column names files
#db_path = 'data/processed/fp_db.sqlite'
dir_path = "/Users/allen/Documents/atnresiliance"
db_path = '%s/data/processed/delay_db.sqlite' %(dir_path,)
raw_folder = '%s/data/raw' %(dir_path,)
col_path = '%s/atnresiliance/perf_cols.txt' %(dir_path,)
print(db_path)

/Users/allen/Documents/AWtest/sqlite/data/processed/small_db.sqlite

In [2]:
import sys
import os
#sys.path.append(os.path.abspath('../'))
os.chdir(dir_path)

import sqlite.create_fp_db as create_fp_db

print("Current directory is: %s" %(os.getcwd(),))

Current directory is: /Users/allen/Documents/AWtest/sqlite

In [4]:
#Import list of columns based on the text file perf_cols.txt in the sqlite folder
#This will print all the columns that are used
cols_file = open(col_path)
cols = cols_file.read().split('\n')
cols_file.close()
print(cols)

['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'UniqueCarrier', 'AirlineID', 'FlightNum', 'Origin', 'OriginCityName', 'OriginState', 'Dest', 'DestState', 'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes', 'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay', 'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk', 'Cancelled', 'CancellationCode', 'Diverted', 'CRSElapsedTime', 'ActualElapsedTime', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'FirstDepTime', 'TotalAddGTime', 'LongestAddGTime']

In [5]:
#Creating the db file
#Look into adding this file checker
create_fp_db.create_db(db_path)

In [6]:
#Add the wanted columns to the table
db_cols = create_fp_db.col_parse(cols)
create_fp_db.create_table(db_path,db_cols)
print(db_cols)

 'YEAR' NOT NULL,'Month' INT NOT NULL,'DayofMonth' INT NOT NULL,'DayOfWeek' INT NOT NULL,'UniqueCarrier' VARCHAR(10) NULL,'AirlineID' INT NOT NULL,'FlightNum' INT,'Origin' VARCHAR(10) NULL,'OriginCityName' VARCHAR(45),'OriginState' VARCHAR(10) NULL,'Dest' VARCHAR(10) NULL,'DestState' VARCHAR(10) NOT NULL,'DestWac' INT,'CRSDepTime' TIME NOT NULL,'DepTime' VARCHAR(10) NULL,'DepDelay' INT,'DepDelayMinutes' INT,'DepDel15' INT,'DepartureDelayGroups' INT,'DepTimeBlk' VARCHAR(45),'TaxiOut' INT,'TaxiIn' INT,'CRSArrTime' TIME NOT NULL,'ArrTime' VARCHAR(45),'ArrDelay' INT,'ArrDelayMinutes' INT,'ArrDel15' INT,'ArrivalDelayGroups' INT,'ArrTimeBlk' VARCHAR(45),'Cancelled' INT NOT NULL,'CancellationCode' VARCHAR(45),'Diverted' INT,'CRSElapsedTime' INT,'ActualElapsedTime' INT,'CarrierDelay' INT,'WeatherDelay' INT,'NASDelay' INT,'SecurityDelay' INT,'LateAircraftDelay' INT,'FirstDepTime' VARCHAR(45),'TotalAddGTime' INT,'LongestAddGTime' INT

In [7]:
#Add the raw data to the table
#This will add from files 1 through (n-1). Since there are 12 files, we will use 1 through 13
for i in range(1,2):
    raw_path = raw_folder +'/On_Time_On_Time_Performance_2015_%s_v1.csv' %i
    create_fp_db.insert_data(db_path,raw_path,cols)
    print('Finished inserting file %s'%i)

Finished inserting file 1

In [8]:
#Query the DB
#Work in progress
import sqlite.tools as tools
tools.query_fp(db_path,'CRSArrTime','AA','5')

SELECT CRSArrTime FROM ontime_performance WHERE UniqueCarrier= 'AA' and DayOfWeek='5';

     CRSArrTime
0      12:30:00
1      12:35:00
2      12:35:00
3      12:35:00
4      12:35:00
5      17:35:00
6      17:29:00
7      17:29:00
8      17:29:00
9      17:29:00
10     15:50:00
11     15:55:00
12     15:55:00
13     15:55:00
14     15:55:00
15     20:50:00
16     21:06:00
17     21:06:00
18     21:06:00
19     21:06:00
20     17:40:00
21     17:58:00
22     17:58:00
23     17:58:00
24     17:58:00
25     05:10:00
26     05:19:00
27     05:19:00
28     05:19:00
29     05:19:00
...         ...
7298   01:26:00
7299   01:26:00
7300   01:26:00
7301   07:07:00
7302   10:05:00
7303   10:08:00
7304   10:08:00
7305   10:08:00
7306   10:08:00
7307   13:25:00
7308   13:24:00
7309   13:24:00
7310   13:24:00
7311   13:24:00
7312   17:00:00
7313   17:04:00
7314   17:04:00
7315   17:04:00
7316   17:04:00
7317   22:30:00
7318   22:34:00
7319   22:34:00
7320   22:34:00
7321   22:34:00
7322   09:00:00
7323   20:18:00
7324   20:18:00
7325   20:18:00
7326   20:18:00
7327   15:29:00

[7328 rows x 1 columns]